/* 主框架 */
.level1{
    display: grid;
    grid-template-columns: repeat(4,19em);
    grid-template-rows: repeat(4,14.6em);
    justify-content: center;
    grid-template-areas: 

        "si wu wei shen"
        "chen c c you"
        "mao c c xu"
        "yin chou zi hai";

}
/* 中间区域 */
.level2{
    grid-area: c;
    display: grid;
    /* grid-template-columns: 1em 10em 12em; */
    grid-template-rows: 12em 12.5em;
    border: 1px solid blueviolet;
    /* align-content: center; */
    margin-right: 0.28em;
    margin-top: 0.1em; 
    margin-bottom: 0.28em;
    /* padding:0.5em; */
    /* padding-right: 1em; */
   
}
.level3{
    /* border: 1px solid orchid; */
    grid-area: yin;
}
.level4{
    /* border: 1px solid orchid; */
    grid-area: mao;
}
.level5{
    /* border: 1px solid orchid; */
    grid-area: chen;
}
.level6{
    /* border: 1px solid orchid; */
    grid-area: si;
}
.level7{
    /* border: 1px solid orchid; */
    grid-area: wu;
}
.level8{
    /* border: 1px solid orchid; */
    grid-area: wei;
}
.level9{
    /* border: 1px solid orchid; */
    grid-area: shen;
}
.level10{
    /* border: 1px solid orchid; */
    grid-area: you;
}
.level11{
    /* border: 1px solid orchid; */
    grid-area: xu;
}
.level12{
    /* border: 1px solid orchid; */
    grid-area: hai;
}
.level13{
    /* border: 1px solid orchid; */
    grid-area: zi;
}
.level14{
    /* border: 1px solid orchid; */
    grid-area: chou;
}


