
<div class="level1">
  <div class="level2">
    <!-- <app-part-three [(zhuX)]="outZhuX[0]" [(liuX)]="outLiuX[0]"></app-part-three> -->
  </div>

  <div class="level3">
    <app-part-two [(zhuX)]="outZhuX[1]" [(liuX)]="outLiuX[1]"></app-part-two>
  </div>
  <div class="level4">
    <app-part-two [(zhuX)]="outZhuX[2]" [(liuX)]="outLiuX[2]"></app-part-two>
  </div>
  <div class="level5">
    <app-part-two [(zhuX)]="outZhuX[3]" [(liuX)]="outLiuX[3]"></app-part-two>
  </div>
  <div class="level6">
    <app-part-two [(zhuX)]="outZhuX[4]" [(liuX)]="outLiuX[4]"></app-part-two>
  </div>
  <div class="level7">
    <app-part-two [(zhuX)]="outZhuX[5]" [(liuX)]="outLiuX[5]"></app-part-two>
  </div>
  <div class="level8">
    <app-part-two [(zhuX)]="outZhuX[6]" [(liuX)]="outLiuX[6]"></app-part-two>
  </div>
  <div class="level9">
    <app-part-two [(zhuX)]="outZhuX[7]" [(liuX)]="outLiuX[7]"></app-part-two>
  </div>
  <div class="level10">
    <app-part-two [(zhuX)]="outZhuX[8]" [(liuX)]="outLiuX[8]"></app-part-two>
  </div>
  <div class="level11">
    <app-part-two [(zhuX)]="outZhuX[9]" [(liuX)]="outLiuX[9]"> </app-part-two>
  </div>
  <div class="level12">
    <app-part-two [(zhuX)]="outZhuX[10]" [(liuX)]="outLiuX[10]"></app-part-two>
  </div>
  <div class="level13">
    <app-part-two [(zhuX)]="outZhuX[11]" [(liuX)]="outLiuX[11]"></app-part-two>
  </div>
  <div class="level14">
    <app-part-two [(zhuX)]="outZhuX[12]" [(liuX)]="outLiuX[12]"></app-part-two>
  </div>
</div>